* {
    color: white;
}
#page {
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    // background-image: url("src/");
    #playground {
        position: absolute;
        margin: 0 auto;
        top: 100px;
        width: 100%;
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        #battle {
            width: 80%;
            height: 80%;
            display: flex;
            flex-direction: row;
            margin: 0 auto;
            .playerSide {
                width: 50%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                .pokemonStatus {
                    width: 70%;
                    height: 20%;
                    border: 2px solid white;
                    display: flex;
                    justify-content: center;
                    .hpBar {
                        width: 80%;
                        align-self: center;
                    }
                }
                img {
                    width: 40%;
                }
            }
            #playerSide1 {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                height: 100%;
                #pokemon2Status {
                    align-self: center;
                }

                img {
                    align-self: center;
                }
            }
            #playerSide2 {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
                height: 100%;
                #pokemon1Status {
                    align-self: flex-end;
                }
                img {
                    align-self: flex-end;
                }
            }
        }
        #textSection {
            align-self: center;
            justify-self: center;
            width: 80%;
            height: 300px;
            border: dotted 3px white;
        }
    }
}
